<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "E-Nymphea" %></title>
        <meta name="description" content="<%= current_page.data.description || "Site E-Nymphea" %>">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <meta name="author" content="www.benrajalu.net" />
        <meta name="application-name" content="Site E-Nymphea" />
      
        <!-- for Facebook -->          
        <meta property="og:title" content="<%= current_page.data.title || "Description E-Nymphea" %>" /> 
        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://e-nyphea.net/logo.jpg" />
        <meta property="og:url" content="http://e-nymphea.net/" />
        <meta property="og:description" content="<%= current_page.data.description || "E-Nymphea" %>" /> 

        <%= stylesheet_link_tag 'global.css' %>
        <%= javascript_include_tag 'vendor/modernizr-2.6.1.min.js' %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <header>
            <nav id="topBar">
                <section class="cf">
                    <button id="mobileOn">Ouvrir le menu</button>
                    <ul class="cf">
                        <li><%= magic_link_to '<span class="mobileOff">Enregistrez-vous</span>', '/user.html', :id => "user", :class => "trigger" %>
                            <ul id="log">
                                <li>
                                    <h3>Me connecter</h3>
                                    <form id="logIn" name="logIn" action='/logged.html'>
                                        <label for="mail">Email</label>
                                        <input name="mail" id="mail" placeholder="Votre adresse email" type="text" />
                                        <label for="pass">Mot de passe</label>
                                        <input name="pass" id="pass" placeholder="Votre mot de passe" type="password" />
                                        <p><a href="#passRetrival" class="pop">Mot de passe oublié ?</a></p>
                                        <input type="submit" value="Connexion" class="button submit small" />
                                    </form>
                                </li>
                                <li>
                                    <h3>Créer un compte</h3>
                                    <form id="signUp" name="signUp" action=''>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odio minus, numquam libero deserunt dicta.</p>
                                        <label for="email">Mot de passe</label>
                                        <input name="email" id="email" placeholder="Votre adresse email" type="text" />
                                        <input type="submit" value="Créer un compte" class="button submit small" />
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li><%= magic_link_to '<span class="total">0</span> <span class="mobileOff">Mon panier</span>', '/order.html', :id => 'basket' %></li>
                        <li><a href="#" id="currentLanguage" class="trigger">FR</a>
                            <ul id="languages">
                                <li><a href="#" class="active">FR</a></li>
                                <li><a href="#">ES</a></li>
                                <li><a href="#">EN</a></li>
                                <li><a href="#">IT</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>

            <nav id='mainNav' class="cf">
                <div class="screen"></div>
                <% link_to '/index.html', :class => 'mainLogo' do %>
                  <%= image_tag 'logo.png' %>
                <% end %>

                <ul>
                    <li><%= magic_link_to "L'espace bien-être", '/espace.html' %></li>
                    <li><a href="#rituals" class="flyout">Nos rituels</a></li>
                    <li><%= magic_link_to 'Réserver', '/book.html' %></li>
                    <li><%= magic_link_to 'offir', '/offer.html' %></li>
                    <li><%= magic_link_to 'Actualités', '/news.html' %></li>
                    <li><%= magic_link_to 'Informations pratiques', '/infos.html' %></li>
                </ul>

                <aside id="rituals">
                    <h3>Découvrez nos rituels de beauté</h3>
                    <ul class="cf">
                        <li><a href="#">Soins du visage</a></li>
                        <li><a href="#">Minceur et fermeté</a></li>
                        <li><a href="#">Massages du corps</a></li>
                        <li><a href="#">Soin d'exception espace privé Paris</a></li>
                        <li><a href="#">Rituels du bain & soins corps</a></li>
                        <li><a href="#">Abonnements</a></li>
                        <li><a href="#">Rituels de soin</a></li>
                    </ul>
                </aside>


            </nav>
        </header>

        
        <%= yield %>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>

        <%= javascript_include_tag 'TweenMax.min.js' %>
        <%= javascript_include_tag 'parsley.min.js' %>
        <%= javascript_include_tag 'plugins.js' %>

        <script>
            var _gaq=[['_setAccount','UA-XXXXXXX'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
