---
title: E-Nymphea - Réserver un soin
description: Réserver un soin sur la plateforme E-Nymphea
---

<!-- Slider -->
	<section id="largePicture">
		<div id="mainSlider" class="flexslider large noCaptions">
			<ul class="slides">
				<li>
					<%= image_tag 'slides/thinSlide2.jpg' %>
				</li>
			</ul>
		</div>
	</section>

<!-- Contents -->

	<div class="rowFluid bgPattern mar40">
		<nav id="breadcrumbs" class="row">
			<ul>
				<li><%= link_to 'Accueil /', '/index.html' %></li>
				<li>Réserver</li>
			</ul>
		</nav>

		<div class="row">
			<div class="large-8 columns">
				<h1>Réserver</h1>
				<nav id="tunnel">
					<ul>
						<li class="t1"><%= link_to '1', '/book.html', :class=> 'active' %></li>
						<li class="t2"><span>2</span></li>
						<li class="t3"><span>3</span></li>
						<li class="t4"><span>4</span></li>
					</ul>
				</nav>

				<article id="mainForm" class="noBorder">
					
					<% form_tag 'book.html', :id => 'bookForm', :class => 'form formPanel', :'data-parsley-validate' =>'',  :'data-parsley-trigger' => 'change focusout', :method => 'POST' do %>
						<label>Sélectionnez un établissement</label>
						<select name="etablissement" data-parsley-required>
							<option value="">Choisir un établissement</option>
							<option value="nomdeletablissement">Etablissement 1</option>
							<option value="nomdeletablissement">Etablissement 2</option>
							<option value="nomdeletablissement">Etablissement 3</option>
						</select>

						<label>Sélectionnez une date pour un rendez-vous</label>
						<div class="row pad0">
							<div class="large-5 columns pad0">
								<input type="text" class="datepicker" placeholder="JJ/MM/AAAA" name="date" />
							</div>
							<div class="large-7 columns pad0 padL mpad0">
								<select name="moment" data-parsley-pattern="\w+" id="moment">
									<option value="À tout moment de la journée">À tout moment de la journée</option>
									<option value="horaire">Choisir une heure précise</option>
									<option value="matin">Matin (9h - 12h)</option>
									<option value="déjeuner">Pause déjeuner (12h - 14h)</option>
									<option value="apresmidi">Après midi (14h - 17h)</option>
									<option value="finjournee">Fin de journée (17h - fermeture)</option>
								</select>
							</div>
						</div>

						<div id="timescale" style='display:none;'>
							<label>Choisir un horaire</label>
							<select name="horaire" id="hour">
								<option value="9h">9h</option>
								<option value="10h">10h</option>
								<option value="11h">11h</option>
								<option value="12h">12h</option>
								<option value="13h">13h</option>
								<option value="14h">14h</option>
								<option value="15h">15h</option>
								<option value="16h">16h</option>
								<option value="17h">17h</option>
								<option value="18h">18h</option>
								<option value="19h">19h</option>
							</select>
						</div>

						<label>Sélectionnez un type de soin</label>
						<select name="soin" data-parsley-pattern="\w+">
							<option value="">Choisir un type de soin</option>
							<optgroup label="Soin du visage">
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
							</optgroup>
							<optgroup label="Minceur & fermeté">
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
							</optgroup>
							<optgroup label="Massages corps">
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
							</optgroup>
							<optgroup label="Soins d'exception espace privé Paris">
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
							</optgroup>
							<optgroup label="Rituels du bain & soins corps">
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
							</optgroup>
							<optgroup label="Rituels de soin">
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
								<option value="nomdusoin">Nom du soin</option>
							</optgroup>
						</select>

						<input type="submit" value="valider" />
					<% end %>
				</article>
			</div>

			<div class="large-4 columns">
				<article class="advice">
					<%= image_tag 'advice.png' %>
					<section class="copy">
						<p class="bubble">15 <span>min</span></p>
						<%= image_tag 'hanger.png', :class=>'picto' %>
						<p>POUR UNE MEILLEURE APPRÉCIATION DE VOTRE SOIN, PRÉVOYEZ D’ARRIVER 15 MINUTES AVANT le début de la prestation.</p>
					</section>
				</article>
			</div>
		</div>

	</div>


	<!-- Pushes -->
	<div class="rowFluid bgPattern mar40 pad30">
		<h3 class="centered">Les offres du moment</h3>

		<div class="row">
			<div class="large-4 columns">
				<article class="push">
					<% link_to "/soin.html" do %>
						<%= image_tag 'push/push1.jpg' %>
					<% end %>
					<section class="contents">
						<h3><%= link_to "Rituel Brésilien", "/soin.html" %></h3>
						<p class="price">80€</p>
						<p>Hammam Arômes et Couleurs® ou Bain Japonais d’Arômes et de Fleurs®, Gommage aromatique Energisant aux Epices rares et précieuses et Soin-Massage du Visage...</p>
						<ul class="infoList cf">
							<li class="time">3 x 50min</li>
							<li class="book"><%= link_to 'Réserver', '/book.html' %></li>
							<li class="offer"><%= link_to 'Offrir', '/gift.html' %></li>
						</ul>
						<%= link_to 'En savoir plus', '/soin.html', :class => 'more' %>
					</section>
				</article>
			</div>

			<div class="large-4 columns">
				<article class="push">
					<% link_to "/soin.html" do %>
						<%= image_tag 'push/push2.jpg' %>
					<% end %>
					<section class="contents">
						<h3><%= link_to "Rituel Tropical", "/soin.html" %></h3>
						<p class="price">80€</p>
						<p>Hammam Arômes et Couleurs® ou Bain Japonais d’Arômes et de Fleurs®, Gommage aromatique Energisant...</p>
						<ul class="infoList cf">
							<li class="time">3 x 50min</li>
							<li class="book"><%= link_to 'Réserver', '/book.html' %></li>
							<li class="offer"><%= link_to 'Offrir', '/gift.html' %></li>
						</ul>
						<%= link_to 'En savoir plus', '/soin.html', :class => 'more' %>
					</section>
				</article>
			</div>

			<div class="large-4 columns">
				<article class="push">
					<% link_to "/soin.html" do %>
						<%= image_tag 'push/push3.jpg' %>
					<% end %>
					<section class="contents noPrice">
						<h3><%= link_to "Abonnement spa Céleste", "/soin.html" %></h3>
						<p>Hammam Arômes et Couleurs® ou Bain Japonais d’Arômes et de Fleurs®, Gommage aromatique Energisant aux Epices rares et précieuses et Soin-Massage du Visage... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam animi voluptate tenetur velit doloremque corporis, tempore ducimus, reprehenderit a cupiditate! Quasi repudiandae consectetur vero officia, autem ea rem impedit beatae.</p>
						<ul class="infoList cf">
							<li class="time">3 x 50min</li>
							<li class="book"><%= link_to 'Réserver', '/book.html' %></li>
							<li class="offer"><%= link_to 'Offrir', '/gift.html' %></li>
						</ul>
						<%= link_to 'En savoir plus', '/soin.html', :class => 'more' %>
					</section>
				</article>
			</div>
		</div>

	</div>