---
title: E-Nymphea - Espace bien-être
description: Espace bien-être plateforme E-Nymphea
---

<!-- Slider -->
	<section id="largePicture">
		<div id="mainSlider" class="flexslider large noCaptions">
			<ul class="slides">
				<li>
					<%= image_tag 'slides/thinSlide3.jpg' %>
				</li>
			</ul>
		</div>
	</section>

<!-- Contents -->

	<div class="rowFluid mar40">
		<nav id="breadcrumbs" class="row">
			<ul>
				<li><%= link_to 'Accueil /', '/index.html' %></li>
				<li>Nos rituels de soin / Minceur et fermeté</li>
			</ul>
		</nav>
		<div class="row">
			<h1>L'espace bien-être</h1>
		</div>
		<div class="row">
			<div class="large-8 columns">
				<article class="wysiwyg article">
					<h2>Le concept</h2>

					<img src="http://placekitten.com/229/177" alt="kitteh" class="alignRight" />
					<p>Nathalie Bouchon Poiroux - <a href="#">Créatrice des soins Cinq Mondes</a> et <strong>Directrice Formation</strong> & Qualité – <em>associée à des partenaires</em> scientifiques de renom, crée les soins Cinq Mondes en s’inspirant des « Rituels de Beauté du monde® » et de la Dermapuncture®, véritable « acupuncture sans aiguille ».</p>

					<p>Nathalie Bouchon Poiroux - <a href="#">Créatrice des soins Cinq Mondes</a> et <strong>Directrice Formation</strong> & Qualité – <em>associée à des partenaires</em> scientifiques de renom, crée les soins Cinq Mondes en s’inspirant des « Rituels de Beauté du monde® » et de la Dermapuncture®, véritable « acupuncture sans aiguille ».</p>

					<img src="http://placekitten.com/229/177" alt="kitteh" class="alignLeft" /><p>Nathalie Bouchon Poiroux - <a href="#">Créatrice des soins Cinq Mondes</a> et <strong>Directrice Formation</strong> & Qualité – <em>associée à des partenaires</em> scientifiques de renom, crée les soins Cinq Mondes en s’inspirant des « Rituels de Beauté du monde® » et de la Dermapuncture®, véritable « acupuncture sans aiguille ».</p>
				</article>
			</div>
			<aside class="large-4 columns aside">
				<div href="#pictureGallery" class="pop gallery">
					<a href="#pictureGallery" class="pop overlay">Play</a>
					<a href="#pictureGallery" class="pop"><%= image_tag "photoGallery.jpg" %></a>
					<section class="legend">
						<a href="#pictureGallery" class="pop">Galerie Photo</a>
						<%= image_tag "iconPhoto.png", :class => "icon" %>
					</section>
				</div>

				<div href="#videoGallery" class="pop gallery">
					<a href="#pictureGallery" class="pop overlay">Play</a>
					<a href="#videoGallery" class="pop"><%= image_tag "videoGallery.jpg" %></a>
					<section class="legend">
						<a href="#videoGallery" class="pop">Galerie Vidéo</a>
						<%= image_tag "videoIcon.png", :class => "icon" %>
					</section>
				</div>
			</aside>
		</div>
	</div>


	<article class="popIn mfp-hide pad0" id="pictureGallery">
	    <header>
	        <h4>Galerie Photo</h4>
	        <%= image_tag 'popIns/iconPhoto.png' %>
	    </header>

	    <div id="photoSlider" class="flexslider gallerySlider">
			<ul class="slides">
				<li> 
					<%= image_tag "gallery/img1.jpg" %>
				</li>
				<li> 
					<%= image_tag "gallery/img2.jpg" %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta sint animi.</p>
				</li>
				<li> 
					<%= image_tag "gallery/img1.jpg" %>
				</li>
				<li> 
					<%= image_tag "gallery/img2.jpg" %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta sint animi.</p>
				</li>
				<li> 
					<%= image_tag "gallery/img1.jpg" %>
				</li>
				<li> 
					<%= image_tag "gallery/img2.jpg" %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta sint animi.</p>
				</li>
				<li> 
					<%= image_tag "gallery/img1.jpg" %>
				</li>
				<li> 
					<%= image_tag "gallery/img2.jpg" %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta sint animi.</p>
				</li>
				<li> 
					<%= image_tag "gallery/img1.jpg" %>
				</li>
				<li> 
					<%= image_tag "gallery/img2.jpg" %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta sint animi.</p>
				</li>
			</ul>
			<p class="count"><span class="current"></span> / <span class="total"></span></p>
	    </div>
		<nav class="synchSlider">
	        <div id="photoNav" class="flexslider galleryNav">
	    		<ul class="slides">
	    			<li> 
	    				<%= image_tag "gallery/img2square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img1square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img2square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img1square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img2square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img1square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img2square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img1square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img2square.jpg" %>
	    			</li>
	    			<li> 
	    				<%= image_tag "gallery/img1square.jpg" %>
	    			</li>
	    		</ul>
	        </div>
	    </nav>
	</article>

	<article class="popIn mfp-hide pad0" id="videoGallery">
	    <header>
	        <h4>Galerie Vidéo</h4>
	        <%= image_tag 'popIns/videoIcon.png' %>
	    </header>

	    <div id="videoSlider" class="flexslider gallerySlider">
			<ul class="slides">
				<li> 
					<div class='embed-container'><iframe src='http://www.youtube.com/embed/BheJJZDHy98' frameborder='0' allowfullscreen></iframe></div>
				</li>
				<li> 
					<div class='embed-container'><iframe src='http://www.youtube.com/embed/BheJJZDHy98' frameborder='0' allowfullscreen></iframe></div>
				</li>
				<li> 
					<div class='embed-container'><iframe src='http://www.youtube.com/embed/BheJJZDHy98' frameborder='0' allowfullscreen></iframe></div>
				</li>
				<li> 
					<div class='embed-container'><iframe src='http://www.youtube.com/embed/BheJJZDHy98' frameborder='0' allowfullscreen></iframe></div>
				</li>
			</ul>
			<p class="count"><span class="current"></span> / <span class="total"></span></p>
	    </div>
	</article>

