---
title: E-Nymphea - Home
description: Home pour E-Nymphea
---


<!-- Slider -->
	<section id="largePicture">
		<div id="mainSlider" class="flexslider large">
			<ul class="slides">
				<li>
					<%= image_tag 'slides/slide1.jpg' %>
					<article class="caption">
							<h3>Nos rituels de soins</h3>
							<p>Une palette de soins et de traditions ancestrales, empreints de Qualité, d'Authenticité et de Cérémonial.</p>
							<%= link_to 'En savoir plus', '/soin.html' %>
					</article>
				</li>
				<li>
					<%= image_tag 'slides/slide2.jpg' %>
					<article class="caption">
							<h3>Espace détente</h3>
							<p>Profitez d'un cadre moderne, soigneusement décoré dans le respect des codes Zen pour votre prochain soin</p>
							<%= link_to 'En savoir plus', '/soin.html' %>
					</article>
				</li>
				<li>
					<%= image_tag 'slides/slide1.jpg' %>
					<article class="caption">
							<h3>Texte slide 3</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quis, mollitia eaque amet vel repellat.</p>
							<%= link_to 'En savoir plus', '/soin.html' %>
					</article>
				</li>
				<li>
					<%= image_tag 'slides/slide2.jpg' %>
					<article class="caption">
							<h3>Texte slide 4</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quis, mollitia eaque amet vel repellat.</p>
							<%= link_to 'En savoir plus', '/soin.html' %>
					</article>
				</li>
				<li>
					<%= image_tag 'slides/slide1.jpg' %>
					<article class="caption">
							<h3>Texte slide 5</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quis, mollitia eaque amet vel repellat.</p>
							<%= link_to 'En savoir plus', '/soin.html' %>
					</article>
				</li>
			</ul>
		</div>
	</section>

<!-- Contents -->
	<div class="row">
		<div class="large-7 large-push-5 columns pad0">
			
			<article id="mainForm" class="bgPattern">
				<form id="selectForm" class="form formSwitcher">
					<h2 class="centered">Réserver en ligne</h2>
					<hr class="smallLine centered" />

					<div class="inline cf">
						<fieldset>
							<label class="lineLabel">Je souhaite</label>
							<input type="radio" name="choice" value="bookForm" id="book" checked='checked'  class="formSwitch"/> <label for="book">réserver</label>
							<input type="radio" name="choice" value="giftForm" id="gift" class="formSwitch"/> <label for="gift">offrir</label>
						</fieldset>
					</div>
				</form>
				
				<% form_tag 'book.html', :id => 'bookForm', :class => 'form formPanel', :'data-parsley-validate' =>'',  :'data-parsley-trigger' => 'change focusout', :method => 'POST' do %>
					<label>Sélectionnez un établissement</label>
					<select name="etablissement" data-parsley-required>
						<option value="">Choisir un établissement</option>
						<option value="nomdeletablissement">Etablissement 1</option>
						<option value="nomdeletablissement">Etablissement 2</option>
						<option value="nomdeletablissement">Etablissement 3</option>
					</select>

					<label>Sélectionnez une date pour un rendez-vous</label>
					<div class="row pad0">
						<div class="large-5 columns pad0">
							<input type="text" class="datepicker" placeholder="JJ/MM/AAAA" data-parsley-required name="date" />
						</div>
						<div class="large-7 columns pad0 padL mpad0">
							<select name="moment" data-parsley-required data-parsley-pattern="\w+" id="moment">
								<option value="À tout moment de la journée">À tout moment de la journée</option>
								<option value="horaire">Choisir une heure précise</option>
								<option value="matin">Matin (9h - 12h)</option>
								<option value="déjeuner">Pause déjeuner (12h - 14h)</option>
								<option value="apresmidi">Après midi (14h - 17h)</option>
								<option value="finjournee">Fin de journée (17h - fermeture)</option>
							</select>
						</div>
					</div>

					<div id="timescale" style='display:none;'>
						<label>Choisir un horaire</label>
						<select name="horaire" id="hour">
							<option value="9h">9h</option>
							<option value="10h">10h</option>
							<option value="11h">11h</option>
							<option value="12h">12h</option>
							<option value="13h">13h</option>
							<option value="14h">14h</option>
							<option value="15h">15h</option>
							<option value="16h">16h</option>
							<option value="17h">17h</option>
							<option value="18h">18h</option>
							<option value="19h">19h</option>
						</select>
					</div>

					<label>Sélectionnez un type de soin</label>
					<select name="soin" data-parsley-required data-parsley-pattern="\w+">
						<option value="">Choisir un type de soin</option>
						<optgroup label="Soin du visage">
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
						</optgroup>
						<optgroup label="Minceur & fermeté">
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
						</optgroup>
						<optgroup label="Massages corps">
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
						</optgroup>
						<optgroup label="Soins d'exception espace privé Paris">
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
						</optgroup>
						<optgroup label="Rituels du bain & soins corps">
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
						</optgroup>
						<optgroup label="Rituels de soin">
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
							<option value="nomdusoin">Nom du soin</option>
						</optgroup>
					</select>

					<input type="submit" value="valider" />
				<% end %>

				<section id="giftForm" class="form formPanel" style="display:none;">
					<% form_tag 'cart.html', :id => 'giftAmount', :class => 'form', :'data-parsley-validate' =>'',  :'data-parsley-trigger' => 'change focusout', :method => 'POST' do %>
						<label>Précisez un montant</label>
						<div class="row pad0">
							<div class="large-9 columns pad0">
								<input type="text" data-parsley-required name="giftPrice" data-parsley-type="number" class="euros"/>
							</div>
							<div class="large-3 columns pad0 padL">
								<input type="submit" value="valider" class="block"/>
							</div>
						</div>
					<% end %>

					<p class="info">Ou</p>
					
					<% form_tag 'cart.html', :id => 'giftItem', :class => 'form', :'data-parsley-validate' =>'',  :'data-parsley-trigger' => 'change focusout', :method => 'POST' do %>
						<label>Sélectionnez un soin</label>
						<div class="row pad0">
							<div class="large-9 columns pad0">
								<select name="soin" data-parsley-required data-parsley-pattern="\w+">
									<option value="">Choisir un type de soin</option>
									<optgroup label="Soin du visage">
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
									</optgroup>
									<optgroup label="Minceur & fermeté">
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
									</optgroup>
									<optgroup label="Massages corps">
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
									</optgroup>
									<optgroup label="Soins d'exception espace privé Paris">
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
									</optgroup>
									<optgroup label="Rituels du bain & soins corps">
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
									</optgroup>
									<optgroup label="Rituels de soin">
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
										<option value="nomdusoin">Nom du soin</option>
									</optgroup>
								</select>
							</div>
							<div class="large-3 columns pad0 padL">
								<input type="submit" value="valider" class="block"/>
							</div>
						</div>
					<% end %>
				</section>
			</article>

		</div>

		<div class="large-5 large-pull-7 columns pad0" id="pushOffers">
			<h3 class="subheader">Les soins du moment</h3>
			<div class="flexslider" id="soinSlider">
				<ul class="slides">
					<li>
						<%= image_tag 'slides/smallSlide1.jpg' %>
						<article class="content">
							<p class="price">80€</p>
							<h3><a href="#">Expérience du spa - Abo</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam et consectetur fuga ratione exercitationem fugiat? Harum aut corrupti minus ratione commodi, nostrum fugit iure impedit quod, voluptate eaque quia ipsa. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, enim, laborum. Inventore aliquid tenetur animi repellendus blanditiis sint amet culpa dolore ratione, vero, consequuntur impedit temporibus ea eius doloremque quam.</p>
							<ul class="infoList cf">
								<li class="time">3 x 50min</li>
								<li class="book"><%= link_to 'Réserver', '/book.html' %></li>
								<li class="offer"><%= link_to 'Offrir', '/gift.html' %></li>
							</ul>
							<%= link_to 'En savoir plus', '/soin.html', :class => 'more' %>
						</article>
					</li>
					<li>
						<%= image_tag 'slides/smallSlide1.jpg' %>
						<article class="content">
							<p class="price">30€</p>
							<h3><a href="#">Seconde slide</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam et consectetur fuga ratione exercitationem fugiat? Harum aut corrupti minus ratione commodi, nostrum fugit iure impedit quod, voluptate eaque quia ipsa. Lorem ipsum dolor sit amet.</p>
							<ul class="infoList cf">
								<li class="time">30min</li>
								<li class="book"><%= link_to 'Réserver', '/book.html' %></li>
								<li class="offer"><%= link_to 'Offrir', '/gift.html' %></li>
							</ul>
							<%= link_to 'En savoir plus', '/soin.html', :class => 'more' %>
						</article>
					</li>
				</ul>
			</div>
		</div>
	</div>


