---
layout: connected
title: E-Nymphea - Home
description: Home pour E-Nymphea
---

<!-- Slider -->
	<section id="largePicture">
		<div id="mainSlider" class="flexslider large noCaptions">
			<ul class="slides">
				<li>
					<%= image_tag 'slides/thinSlide1.jpg' %>
				</li>
			</ul>
		</div>
	</section>

	<div class="rowFluid">
		<nav id="breadcrumbs" class="row">
			<ul>
				<li><%= link_to 'Accueil /', '/index.html' %></li>
				<li>Mon Espace client</li>
			</ul>
		</nav>

		<div class="row">
			<h1>Mon espace client</h1>
			<aside class="large-3 columns">
				<nav id="userMenu">
					<ul>
						<li class="accueil"><%= magic_link_to "Accueil", "/user-empty.html" %></li>
						<li class="infos"><%= magic_link_to "Mes infos", "/user-infos.html" %></li>
						<li class="RDV"><%= magic_link_to "Mes RDV", "/user-history.html" %></li>
						<li class="gift"><%= magic_link_to "Mes bons cadeaux", "/user-gifts.html" %></li>
					</ul>
				</nav>
			</aside>

			<div class="large-6 columns">
				<hgroup class="headerGroup">
					<h2>Mes prochains rendez-vous</h2>
					<%= link_to "Historique", "/user-history.html", :class=> 'more' %>
				</hgroup>
				
				<div id="history">


					<article class="noHistory">
						<h3>Aucun rendez-vous à venir...</h3>
						<section class="messageNav">
							<%= link_to '<span>Consultez les soins disponibles</span>', '/book.html', :class => "button book" %>
						</section>
					</article>
				</div>
			</div>

			<div class="large-3 columns">
				<hgroup class="headerGroup">
					<h2>Mon compte</h2>
					<%= link_to "Modifier", "/user-infos.html", :class=> 'more' %>
				</hgroup>
				<article class="article vCard bgPattern">
					<dl>
						<dt>Céline Guerton-Mathias</dt>
						<dd class="email">cgm@spa-connexion.com</dd>
						<dd class="phone">Mobile : 0610101010</dd>
						<dd class="phone">Fixe : 0110101010</dd>
						<dd class="address">10 rue Rio de Jainero<br/>
						Appartement C<br/>
						75000 Paris</dd>
					</dl>
				</article>
			</div>
		</div>

	</div>